## Merging gtrends data

In [2]:
import os
import pandas as pd

In [29]:
maindir = "gtrends_data/"

res = pd.read_csv("gtrends_data/Aloo gobi.csv", skiprows=1)
for i in os.listdir(maindir)[1:]:
    filename = maindir + i
    res = pd.concat([res, pd.read_csv(filename, skiprows=1,
                    usecols=lambda x: x != 'Week')], axis=1)
res = res.fillna(0)
res

,Week,Aloo gobi: (Delhi),Aloo matar: (Delhi),Aloo Methi: (Delhi),Aloo shimla mirch: (Delhi),Aloo tikki: (Delhi),Apple: (Delhi),Ariselu: (Delhi),Banana: (Delhi),Bandar laddu: (Delhi),...,Sohan halwa: (Delhi),Strawberry: (Delhi),Tandoori chicken: (Delhi),Tea: (Delhi),Toast: (Delhi),Upma: (Delhi),Uttapam: (Delhi),Vada: (Delhi),Vegetable Jalfrezi: (Delhi),Watermelon: (Delhi)
0,2018-01-07,67,44,21,23,26,36,0,26,13,...,36,0,32,43,30,17,17,27,0,5
1,2018-01-14,59,16,0,15,13,45,0,24,0,...,0,38,62,46,39,20,0,38,0,8
2,2018-01-21,94,24,0,0,11,30,0,25,0,...,15,0,35,44,41,10,0,29,18,4
3,2018-01-28,71,13,29,0,18,35,16,25,17,...,0,0,36,45,18,20,19,22,0,0
4,2018-02-04,44,28,43,0,15,43,0,25,10,...,14,28,0,39,0,29,34,18,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2022-11-27,31,54,0,0,14,63,0,22,32,...,0,0,28,60,0,36,10,21,0,18
256,2022-12-04,32,41,55,0,18,39,0,24,16,...,0,0,45,56,0,10,16,20,42,7
257,2022-12-11,25,37,0,0,22,41,0,26,0,...,0,29,35,61,38,22,30,17,0,14
258,2022-12-18,12,19,40,0,17,49,25,28,19,...,0,0,58,64,12,19,21,13,0,17
259,2022-12-25,48,40,31,0,32,52,0,23,14,...,0,0,65,69,32,31,9,29,0,11

In [32]:
res.index = pd.to_datetime(res.Week)
res.drop('Week', axis=1, inplace=True)
res

,Aloo gobi: (Delhi),Aloo matar: (Delhi),Aloo Methi: (Delhi),Aloo shimla mirch: (Delhi),Aloo tikki: (Delhi),Apple: (Delhi),Ariselu: (Delhi),Banana: (Delhi),Bandar laddu: (Delhi),Bhindi Masala: (Delhi),...,Sohan halwa: (Delhi),Strawberry: (Delhi),Tandoori chicken: (Delhi),Tea: (Delhi),Toast: (Delhi),Upma: (Delhi),Uttapam: (Delhi),Vada: (Delhi),Vegetable Jalfrezi: (Delhi),Watermelon: (Delhi)
Week,,,,,,,,,,,,,,,,,,,,,
2018-01-07,67,44,21,23,26,36,0,26,13,31,...,36,0,32,43,30,17,17,27,0,5
2018-01-14,59,16,0,15,13,45,0,24,0,38,...,0,38,62,46,39,20,0,38,0,8
2018-01-21,94,24,0,0,11,30,0,25,0,0,...,15,0,35,44,41,10,0,29,18,4
2018-01-28,71,13,29,0,18,35,16,25,17,0,...,0,0,36,45,18,20,19,22,0,0
2018-02-04,44,28,43,0,15,43,0,25,10,75,...,14,28,0,39,0,29,34,18,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-27,31,54,0,0,14,63,0,22,32,28,...,0,0,28,60,0,36,10,21,0,18
2022-12-04,32,41,55,0,18,39,0,24,16,0,...,0,0,45,56,0,10,16,20,42,7
2022-12-11,25,37,0,0,22,41,0,26,0,17,...,0,29,35,61,38,22,30,17,0,14
2022-12-18,12,19,40,0,17,49,25,28,19,21,...,0,0,58,64,12,19,21,13,0,17
2022-12-25,48,40,31,0,32,52,0,23,14,0,...,0,0,65,69,32,31,9,29,0,11

In [33]:
res.to_excel("delhi_food_trends_merged.xlsx")

## Converting Delhi temperatures from daily to weekly averages

In [34]:
df = pd.read_excel("delhi_temperature.xlsx").fillna(0)
df.rename({"date": "Week"}, axis=1, inplace=True)
df["Week"] = pd.to_datetime(df["Week"])
df

           Week  tavg  tmin  tmax  prcp
0    2018-01-01  12.2   5.7  23.9   0.0
1    2018-01-02  11.8   8.4  20.1   0.0
2    2018-01-03  11.2   0.0   0.0   0.0
3    2018-01-04  12.2   5.0   0.0   0.0
4    2018-01-05  11.6   0.0   0.0   0.0
...         ...   ...   ...   ...   ...
1821 2022-12-27  11.4   7.4  18.3   0.0
1822 2022-12-28  13.3   9.1  20.7   0.0
1823 2022-12-29  14.7   9.8  22.0   0.0
1824 2022-12-30  15.3  11.7  21.5   0.0
1825 2022-12-31  13.6  10.1  19.8   0.0

[1826 rows x 5 columns]

In [35]:
def avrg(values):
  return sum(values) / len(values)

In [36]:
result = df.groupby(pd.Grouper(key='Week', freq='W')).agg({
    'tavg': avrg,
    'tmin': avrg,
    'tmax': avrg,
    'prcp': avrg
})
result = result[:-1]
result

                 tavg       tmin       tmax       prcp
Week
2018-01-07  11.942857   4.242857  12.228571   0.000000
2018-01-14  13.657143   6.171429  16.028571   0.000000
2018-01-21  14.900000   5.871429  10.771429   0.000000
2018-01-28  13.157143   6.414286  12.614286   0.585714
2018-02-04  16.457143   9.500000  15.114286   0.000000
...               ...        ...        ...        ...
2022-11-27  17.285714  10.671429  26.485714   0.000000
2022-12-04  16.385714  10.200000  25.542857   0.000000
2022-12-11  16.471429  10.257143  25.171429   0.000000
2022-12-18  15.471429   9.685714  24.285714   0.000000
2022-12-25  12.714286   7.800000  21.057143  15.857143

[260 rows x 4 columns]

In [37]:
result.to_excel("delhi_temperate_weekly.xlsx")

## Merging both files to get final data

In [40]:
result = pd.read_excel("delhi_temperate_weekly.xlsx", index_col=0)
res = pd.read_excel("delhi_food_trends_merged.xlsx", index_col=0)

pd.concat([result, res], axis=1).to_excel("delhi_temperature_trends_merged.xlsx")